.inline {
    display: inline-block;
    width: 12px;
}

.block {
    height: 15px;
    background-color: black;
}

.underline {
    height: 1px;
    background-color: black;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    margin-left: 4px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}