@font-face {
  font-family: "FiraMono-Regular";   /*Can be any text*/
  src: local("FiraMonoRegular"),
    url("./font/FiraMono/FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraMono-Bold";   /*Can be any text*/
  src: local("FiraMonoBold"),
    url("./font/FiraMono/FiraMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraMono-Medium";   /*Can be any text*/
  src: local("FiraMonoMedium"),
    url("./font/FiraMono/FiraMono-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}

